name: Run Price Tracker

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.12

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install GeckoDriver
      run: |
        GECKODRIVER_VERSION=0.34.0
        wget "https://github.com/mozilla/geckodriver/releases/download/v${GECKODRIVER_VERSION}/geckodriver-v${GECKODRIVER_VERSION}-linux64.tar.gz"
        tar -xzf geckodriver-v${GECKODRIVER_VERSION}-linux64.tar.gz
        sudo mv geckodriver /usr/local/bin/
        geckodriver --version  # Verify installation
        
    - name: Install Firefox
      run: |
        sudo apt-get update
        sudo apt-get install -y firefox



    - name: Debug information
      run: |
        which geckodriver
        geckodriver --version
        which firefox
        firefox --version

    - name: Set environment variable
      run: echo "ENV_DATA=${{ secrets.ENV_DATA }}" >> $GITHUB_ENV
      shell: bash

    - name: Run price tracker script
      run: python price_tracker.py
      env:
        ENV_DATA: ${{ secrets.ENV_DATA }}
